[submodule "auth_service"]
	path = auth_service
	url = https://github.com/aar-rafi/tick12_auth_service
[submodule "ticket_service"]
	path = ticket_service
	url = https://github.com/aar-rafi/tick12_ticket_service
[submodule "pricing_service"]
	path = pricing_service
	url = https://github.com/aar-rafi/tick12_ticket_pricing_service
[submodule "train_service"]
	path = train_service
	url = https://github.com/aar-rafi/tick12_train_service
[submodule "cache_service"]
	path = cache_service
	url = https://github.com/irtiaz/tick12_cache_service
